quotation {
	width: 100%;
}

quote {
	width: 50%;
	display: block;
	border: 1px solid black;
	font-size: 20pt;
	font-family: "Verdana";
	padding: 20px;
	margin: 5px;
}

line {
	display: block;
}

author {
	display: block;
	font-size: 16pt;
	font-weight: bold;
}

source {
	display: block;
	font-size: 12pt;
	text-align: right;
	color: grey;
}